
body{
    background-image: linear-gradient(to right top, #0b0b0b, #0e0e0e, #101011, #131213, #151415, #151314, #141314, #141213, #100e0f, #0c0a0b, #060505, #000000);
    background-attachment: fixed;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: bold;
}

/*-Icon-*/
.arrow{
    color: green;
    
}

.formulario fieldset{
    border-radius:10px;
    box-shadow:  2px 2px 15px 2px rgb(85, 85, 88);
    
}
.formulario legend{
    font-size:30px;
}
.formulario{
    margin:auto;
    width:50%;
    text-align: center;
    font-size:20px;
    color:white;
}

.formulario form input{
    margin:20px;
    color:white;
    text-align: center;
    font-size:20px;
    background:transparent;
    border:none;
    border-bottom:1px solid rgb(249, 253, 3);
}

.formulario form input[type=number]{
    font-size:15px;
    width:20%;
}

.formulario form input[type=submit]{
    border:none;
    margin-top:50px;
    letter-spacing: 5px;

}
.formulario form input[type=submit]:hover{
    color: rgb(249, 253, 3);
    cursor:pointer;
}







/*.formulario fieldset {
    border-radius: 50px;
}
.formulario fieldset legend{
    font-size: 40px;
}
.formulario{
    margin:auto;
    width:50%;
    text-align: center;
    color:rgba(250, 250, 250, 0.733);
    font-size: 20px;
    
    
}
.formulario label{
    font-size:30px;
    
}
.formulario input{
    width: 50%;
    height:30px;
    text-align:center;
    background:transparent;
    margin:10px;
    border:none;
    border-bottom: 2px solid rgb(251, 251, 251);
    font-weight: bold;
    color:rgb(253, 253, 253);
}
.formulario input[type=number]{
    width:25%;
    
}
.formulario input[type=radio]{
    width:10%;
    cursor:pointer;
}
.formulario input[type=submit]{
    cursor:pointer;
    font-size:20px;
    border:none;
    letter-spacing: 10px;
    background:rgba(0, 228, 0, 0.4);
    border-radius:5px;
}
.formulario input[type=submit]:hover{
    background:transparent;
    color:rgba(0, 228, 0, 0.4);
}*/

